* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    grid-area: header;
    background-color: rgb(223, 116, 116);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    animation: move 2s infinite;
    animation-direction: alternate;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}

.logo {
    padding: 1em;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

.inicio {
    grid-area: inicio;

}

.menu {
    background-color: rgb(156, 75, 75);
    color: white;
    padding: 1em;
    height: 150vh;
}

ul {
    list-style-type: none;
}

.grid {
    grid-area: grid;
    padding: 0.8em;
    gap: 15px;
    text-align: center;
}

.producto ,img {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;

}

.producto {
    display: flex;
    flex-direction: column;
}


.sorteo {
    grid-area: sorteo;
    color: white;
    background-color: rgb(249, 104, 104);
    margin: 0.5em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.5em;
}

.contacto {
    grid-area: contacto;
    color: white;
    background-color: rgb(249, 104, 104);
    margin: 0.5em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 1.5em;
}


button {
    color: white;
    background-color: rgb(223, 98, 98);
    font-size: large;
    transition: background-color 2s ease-out
}

button:hover {
    color: rgb(223, 98, 98);
    background-color: rgba(248, 249, 248, 0.588);

}

footer {
    grid-area: footer;
    background-color: rgb(223, 116, 116);
    padding: 0.5em;
    padding-top: 2em;
    text-align: center;
    color: white;
}

@media (min-width:577px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:577px) {
    .container {
        display: grid;
        grid-template-areas:
            "header header"
            "inicio grid"
            "inicio sorteo"
            "inicio contacto"
            "footer footer"
    }
}