* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    grid-area: header;
    text-align: center;
    color: white;
    font-size: x-large;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(223, 116, 116);
}

.logo {
    padding: 1em;
    display: flex;
    justify-content: center;
}

.inicio {
    grid-area: inicio;

}

.menu {
    background-color: rgb(156, 75, 75);
    color: white;
    padding: 1em;
    height: 100vh;
}


.grid {
    grid-area: grid;
    padding: 0.8em;
    gap: 15px;
    text-align: center;

}

.producto {
    display: flex;
    flex-direction: column;
    
}

.sorteo {
    grid-area: sorteo;
    color: white;
    background-color: rgb(249, 104, 104);
    margin: 0.5em;
    
}

.sorteo h2 {
    text-align: center;
    
}

.sorteo p,h6 {
    text-align: center;
}

.contacto {
    grid-area: contacto;
}

button {
    color: white;
    background-color: rgb(223, 98, 98);
    font-size: large;

}

footer {
    grid-area: footer;
    background-color: rgb(223, 116, 116);
    padding: 0.5em;
    text-align: center;
    color: white;
}

@media (min-width:577px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width:577px) {
    .container {
        display: grid;
        grid-template-areas:
            "header header"
            "inicio grid"
            "inicio sorteo"
            "inicio contacto"
            "footer footer"
    }
}